<div class="content" role="main">
  <!-- Highlight Card -->
  <h1>Tabla de Personas</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
    </tr>
    <tr>
      <td>{{ personaAlex.id }}</td>
      <td>{{ personaAlex.name }}</td>
      <td>{{ personaAlex.surname }}</td>
    </tr>
  </table>
  <br />
  <table>
    <tr>
      <th>Deportistas</th>
    </tr>
    <tr>
      <td>
        <div
          *ngFor="
            let unDeportista of deportistas;
            index as i;
            first as f;
            last as l;
            odd as o;
            even as e
          "
        >
          <div [ngSwitch]="o">
            <span *ngSwitchCase="true">
              <strong class="text-success">
                {{ unDeportista }}: su índice : {{ i }}, es el primero de la
                lista : {{ f }}, es el último:{{ l }},es un número impar:{{
                  o
                }}, es un número par : {{ e }}</strong
              ></span
            >
            <span *ngSwitchDefault
              ><strong class="text-danger"
                >{{ unDeportista }}: su índice : {{ i }}, es el primero de la
                lista : {{ f }}, es el último:{{ l }},es un número impar:{{
                  o
                }}, es un número par : {{ e }}</strong
              ></span
            >
          </div>
        </div>
      </td>
    </tr>
  </table>
  <br>
  <div class="d-flex flex-row justify-content-between col-12">
    <button class="btn btn-primary"(click)="changeClass()">Cambia el color con angular --></button>
    <h4 *ngIf="clickN%2==0;then temp1 else temp2"></h4>
    <ng-template #temp1>
      <h4 [class]="redClass">Cambio de color a veces</h4>
    </ng-template>
    <ng-template #temp2>
      <h4 [class]="greenClass">Cambio de color a veces</h4>
    </ng-template>
  </div>
  <br>
  <div class="d-flex flex-row justify-content-between col-12">
    <button class="btn btn-primary"(click)="changeClass2()">Cambia el color con angular --></button>
      <h4 [class]="colorClass">Cambio de color a veces</h4>
  </div>
  <br>
  <div class="d-flex flex-row justify-content-between col-12">
    <button class="btn btn-primary"(click)="changeBoolClass()">Cambia el booleano con angular --></button>
    <h4 [class.text-info]="bool1">Boolean is changing here</h4>   
  </div>
  <br>
  <div [ngClass]="objectsInSameClass"><h1>Inserting my class with ngClass</h1></div>
  <div [ngStyle]="stylesInTag"><h1>Inserting my style with ngStyle</h1></div>
</div>
