.main{
  display: flex;
  border: solid black 1px;
  flex-direction: column;
}
.toolbar{
  margin-top: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 0.5px blueviolet;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 1em;
  border: orange 1px solid;
  background-image: url("../../../assets/images/colorsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3em;
  border-bottom: 1em;
  margin-left: 1em;
  width: fit-content;
}
img{
  width: 40px;
}
button{
  width: fit-content;
  padding: 0;
  border: none;
  background-color: transparent;
}