<!-- Toolbar -->
<div [ngClass]="colorClass">
  <div class="toolbar col-12" role="banner">
    <img
      width="40"
      alt="Gym Logo"
      src="../../../assets/images/gymLogo.png"
    />
    <h2>Gym Starter</h2>
  </div>
  <app-nav-bar class="col-12 p-5 "></app-nav-bar>
  <div class="buttons">
    <button (click)="changeClass($event)"><img src="../../../assets/images/blue.png" alt="Blue" id="blue"></button>
    <button (click)="changeClass($event)"><img src="../../../assets/images/black.png" alt="Dark" id="dark"></button>
    <button (click)="changeClass($event)"><img src="../../../assets/images/white.png" alt="Light" id="light"></button>
  </div>
  <br>
</div>
